<!DOCTYPE html>
<html lang="en">   

<style>

body, html{
    height: 100%;
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}

.bg{
    background-image: url("/weather/images/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(20px);
    -webkit-filter: blur(20px);
}

</style>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>APP DE PREVISÃO DE TEMPO</title>   
    </head>
<body> 
    <!-- imagem de fundo do app-->
    <div class="bg">

    </div>

</body>
</html>